*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ESTILOS DEL INDEX */

body{
    font-family: "Crimson Pro", sans-serif;
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
}

header{
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

header img{
    width: 250px;
}

nav ul{
    margin-top: 7%;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    font-size: 1.3rem;
    padding-right: 1.5rem;
    text-transform: uppercase;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    text-decoration: underline;
}

nav ul li a:hover{
    color: #7D7F7D;
    text-decoration: none;
}

.titulo{
    display: flex;
    width: 100%;
    justify-content: center;
}

.titulo h1{
    font-size: 4.5rem;
    margin: 2% 0;
}

.negrita{
    font-weight: bold;
}

section{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.principal{
    width: 100%;
    height: 550px;
    background-image: url(../imagenes/principal.jpg);
    background-size: cover;
    background-size: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
    padding-right: 7%;
    padding-bottom: 50%;
    padding-left: 32%;
}

.principal div img{
    width: 60%;
}

.secundario div{
    width: 90%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    border: 3px solid #000000;
    padding: 5px;
}

.secundario h1{
    margin-bottom: 1%;
    font-size: 3rem;
}
.secundario p{
    font-size: 1.5rem;
    text-align: justify;
    padding: 10px;
}

.terciario{
    display: flex;
    margin-top: 10%;
    margin-bottom: 15%;
}

.terciario div{
    width: 50%;
    text-align: center;
}

.terciario div img{
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
}

.terciario h3{
    margin-top: 1.5%;
    font-size: 1.5rem;
}

.pie{
    display: flex;
    justify-content: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #000000;
}

.pie a img{
    width: 35px;
    padding: 5%;
    filter: brightness(0) invert(1);
}

/* ESTILOS DEL INDEX */

/* ESTILOS DE PERSONAJES*/

.principal-personajes{
    width: 100%;
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
}

.principal-personajes article{
    width: 100%;
    display: flex;
}

.principal-personajes article div{
    width: 50%;
    text-align: center;
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 1em;
    background-color: #000000;
}

.principal-personajes article div img{
    width: 100%;
}

.principal-personajes article div h2{
    color: #eeeeee;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 2.3rem;
}

.principal-personajes article div p{
    color: #eeeeee;
    text-align: left;
    font-size: 1.5rem;
}

/* ESTILOS DE PERSONAJES */

/* ESTILOS DE RESEÑAS */

.principal-reseñas{
    width: 100%;
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    justify-content: center;
}

.principal-reseñas article{
    width: 100%;
    display: flex;
}

.principal-reseñas article div{
    width: 33%;
    text-align: center;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
    background-color: #7D7F7D;
    box-shadow: 0px 0px 35px #000000;
    padding: 15px;
    border-radius: 2em;
    border: 5px solid #000000;
}

.principal-reseñas article div img{
    width: 30%;
    border-radius: 1.5em;
    margin-bottom: 3%;
}

.principal-reseñas article div p{
    color: #ffffff;
    text-align: left;
    font-size: 1.5rem;
}

/* ESTILOS DE RESEÑAS */

/* ESTILOS DE CONTACTO */

form{
    background-color: #000000;
    padding: 20px 0px;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 55px #000000;
    border-radius: 8px;
    font-size: 17px;
}

form h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    color: #eeeeee;
    font-weight: 100;
    font-size: 2.5em;
    padding: 10px;
}

.comando{
    padding: 6px 20px;
}

input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    background: transparent;
    border: none;
    border: 1px solid #666666;
    color: #eeeeee;
}

textarea{
    font-family: sans-serif;
    min-width: 100%;
    resize: none;
    min-height: 100px;
}

.boton{
    margin: 30px 20px 15px 20px;
}

.boton input{
    cursor: pointer;
    transition: 0.3s;
}

.boton input:hover{
    background: #7D7F7D;
}

.boton input:active{
    transform: scale(0.95);
    transition: none;
}

label{
    color: #ffffff;
    font-size: 1.35em;
    line-height: 2;
}

/* ESTILOS DE CONTACTO */

/* ESTILOS DE GALERIA */

.principal-galeria{
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    width: 94%;
    padding: 0px 10px 10px 10px;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.3);
    margin: 0px auto;
}

.principal-galeria .item{
    flex-basis: 32.7%;
    margin-right: 6px;
    margin-bottom: 6px;
    opacity: 0.85;
}

.principal-galeria .item:hover{
    opacity: 1;
}

.principal-galeria .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ESTILOS DE GALERIA */

.icon{
    display: none;
}

@media (max-width: 480px){
    header{
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #000000;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    header div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header img{
        width: 100px;
    }

    header nav ul{
        flex-basis: 100%;
        padding: 0%;
    }
    .icon {
        display: block;
        text-align: right;
    }
    nav ul {
        display: none;
    }
    nav.responsive ul {
        display: block;
        margin-bottom: 10%;
    }
    nav.responsive ul li {
        display: block;
        text-align: center;
        padding: 0.5rem;
    }
    nav.responsive ul li a {
        padding-right: 0;
    }

    .principal div{
        margin-bottom: 40%;
        margin-left: 30%;
    }

    section{
        max-width: 480px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .principal{
        height: 250px;
        padding: 10%;
    }

    .secundario{
        display: flex;
    }

    .secundario div{
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }

    .secundario div h1{
        width: 100%;
        font-size: 280%;
        margin: auto;
        margin-left: 11%;
        margin-bottom: 5%;
    }

    .secundario div p{
        font-size: 180%;
        text-align: left;
    }

    .terciario{
        display: block;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    
    .terciario div{
        width: 100%;
        text-align: center;
        margin-top: 10%;
    }
    
    .terciario div img{
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
    }
    
    .terciario h3{
        margin-top: 1.5%;
        font-size: 1.5rem;
        color: #ffffff;
        text-decoration: underline;
    }

    .principal-personajes article{
        display: block;
    }

    .principal-personajes article div{
        width: 80%;
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .principal-personajes article div h2{
        font-size: 2.5rem;
    }

    .principal-personajes article div p{
        font-size: 1.7rem;
    }

    .principal-galeria{
        display: block;
    }

    .principal-galeria h1{
        margin-bottom: 11%;
    }

    .item{
        display: block;
        width: 100%;
    }

    .item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 5%;
    }

    .principal-reseñas article{
        display: block;
    }

    .principal-reseñas article div{
        width: 95%;
        margin-top: 8.5%;
        margin-bottom: 10%;
        box-shadow: none;
    }

    .principal-reseñas article div p{
        font-size: 1.8rem;
    }

    form{
        width: 95%;
    }

    form h2{
        font-size: 3rem;
    }

    input, textarea{
        font-size: 1.2rem;
    }

    label{
        font-size: 1.7rem;
    }

    footer{
        height: 50px;
        justify-content: space-evenly;
        padding-top: 5%;
        padding-left: 6.5%;
    }

    footer a img{
        width: 50px;
        padding: 5%;
    }
}